# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Deploy to Roku'
      'command': 'atom_roku:rokuDeploy'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Roku'
      'submenu': [
        {
          'label': 'Deploy'
          'command': 'atom_roku:rokuDeploy'
        }
      ]
    ]
  }
]
